*{;margin:0;}

body {
	overflow:auto
	background:#fff;
	-webkit-text-size-adjust: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #aaa;
}

a img {
	border: none;
}

td {
	text-align: center;
}

#wrapper {
	min-width: 950px;
	height: 100%;
	width: 100%;
	position: absolute;
}

#header {
	background-color: #f90;
	height: 62px;
}

#logo {
	float: left;
	margin: 10px 0 0 32px;
	border: none;
}

#login {
	font-family: Verdana,'Lucida Grande',Arial,sans-serif;
	position: absolute;
	top: 17px;
	right: 32px;
	font-size: 8pt;
	color: #fff;
}

#login a {
	color: #fff;
}

#login a:hover {
	text-decoration: underline;
}

#intro {
	background: #000;
	height: 28px;
	font-size: 9pt;
	padding-top: 4px;
	text-align: center;
	box-shadow: 0px 4px 4px #666;
	-webkit-box-shadow: 0px 2px 2px #aaa;
	-moz-box-shadow: 0px 2px 2px #1b1b1b;
}

#introleft {
	float: left;
	text-align: center;
	margin-top: 1px;
	margin-right: 20px;
	margin-left: 32px;
	width: auto;
}

#devicesopts {
	float: left;
	font-weight: bold;
	font-size: 8pt;
	margin-top: 3px;
	color: #ccc;
	letter-spacing: 1px;
	cursor: default;
}

#devgear {
	position: relative;
	top: 3px;
	width: 14px;
	height: 14px;
}

#introtabs {
	background: #000;
	height: 28px;
	box-shadow: 0px 4px 4px #666;
}

#back {
	font-size: 8pt;
	margin-left: 32px;
	margin-top: 10px;
	color: #AAA;
}

div.selectedSettingsTab {
	background: #ffffff url(../images/settings_white-tab-v2.png);
	float: left;
	color: #2672C6;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 17px;
	cursor: default;
}

div.unselectedSettingsTab {
	float: left;
	margin-top: 6px;
	font-size: 11px;
	font-weight: bold;
	color: #ccc;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
}

div.unselectedSettingsTab:hover {
	color:#eee;
	cursor: pointer;
}

a.editButton {
	border: 1px rgb(122,122,122) solid;
	background: url(../images/cancel.png);
	height: 20px;
	width: 75px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	-webkit-border-radius: 10px;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}

a.editButton:hover {
	cursor: pointer;
}

#footer {
	z-index: 51;
	min-width: 836px;
	padding: 8px 0;
	font-size: 8pt;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 32px;
	right: 32px;
	background: #000;
	color: #999;
	opacity: 0.80;
	filter:alpha(opacity=80);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-radius: 8px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}

#footer a {
	color: #f90;
}

div.ButtonsSection {
	margin-top: 10px;
	text-align: right;
}

div.settingsContent {
	margin-top: -10px;
	padding-bottom: 60px;
	width: 786px;
}

#CardsSection
{
	background: transparent url('../images/dimicon-networks.jpg') no-repeat 19px 53px;
	padding-top: 13px;
	padding-left: 219px;
}

#GeotaggingSection
{
	background: transparent url('../images/dimicon-geotagging.jpg') no-repeat 19px 53px;
	padding-top: 13px;
	padding-left: 219px;
}

#UploadSection
{
	background: transparent url('../images/dimicon-photos.jpg') no-repeat 19px 53px;
	padding-top: 13px;
	padding-left: 219px;
}

#ManageSection
{
	background: transparent url('../images/dimicon-view.jpg') no-repeat 19px 53px;
	padding-top: 13px;
	padding-left: 219px;
}

h1.settingsTitle {
	font-size: 27px;
	padding-top: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2672C6;
}

fieldset.bordered {
	padding-top: 15px;
	padding-bottom: 20px;
	margin-top: 10px;
	border: solid 1px;
	border-color: #b4b4b4;
}

legend.bordered {
	font-size: 12px;
	font-weight: bold;
}

.boldGreyContent {
	font-size: 12px;
	font-weight: bold;
	color: #999;
}

.greyContent {
	padding-top:5px;
	font-size: 12px;
	font-weight: normal;
	color: #666;
}
