body {
	font-family: Verdana,'Lucida Grande',Arial,sans-serif;
	margin: 0;
	background: #2b2b2b;
	color: #aaa;
	/*overflow-x: hidden;*/
	/*overflow: auto;*/  /* ie */
}
body.mosaic {
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: #aaa;
}

a img {
	border: none;
}

#wrapper {
	width: 100%;
	min-width: 900px;
	height: 100%;
	position: absolute;
	/*overflow: hidden;*/
}

#header {
	background-color: #f90;
	height: 62px;
}

#page_status {
	display: none;
	position: fixed;
	top: 0;
	left: 45%;
	right: 46%;
	text-align: center;
	z-index: 201;
	color: #fff;
	background: #EE8800;
	padding: 2px 0;
	font-size: 12px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#logo {
	float: left;
	margin: 10px 0 0 32px;
	border: none;
}

#hdrrt {
	float: right;
	margin: 10px 20px 0 0;
	width: 127px;
	height: 51px;
}

#pagetitle {
	font-size: 18pt;
	letter-spacing: 0.7px;
	color: #fff;
	padding-top: 21px;
	text-align: center;
}

#login {
	position: absolute;
	top: 17px;
	right: 32px;
	font-size: 8pt;
	color: #fff;
}
#login .divider {
	display: inline;
	margin: 0 4px;
	position: relative;
	top: 2px;
}
#login a {
	color: #fff;
}
#login a:hover {
	text-decoration: underline;
}

#intro {
	background: #000;
	height: 28px;
	font-size: 9pt;
	padding-top: 4px;
	text-align: center;
	box-shadow: 0px 2px 2px #1b1b1b;
	-webkit-box-shadow: 0px 2px 2px #1b1b1b;
	-moz-box-shadow: 0px 2px 2px #1b1b1b;
}

#introleft {
	margin-left: 32px;
	margin-right: 320px;
}

#photosleft {
	margin-left: 5px;
}

#intro, #introleft, #photosleft {
	text-align: center;
}

#introleft, #introright {
	margin-top: 1px;
}

#leftnav, #rightnav {
	display: inline-block;
	margin-top: 1px;
	height: 20px;
	border: 1px solid #bbb;
	background: url('../images/button_20px.png') repeat-x;
}
#leftnav:hover, #rightnav:hover {
	background: url("../images/button_20px-hover-v2.png");
}
#leftnav {
	width: 55px;
	border-right: none;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	/* ipad */
	-webkit-border-radius: 6px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
#rightnav {
	width: 54px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	/* ipad */
	-webkit-border-radius: 6px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}
#leftnav img, #rightnav img {
	position: relative;
	top: -0.25px;
}

#introright {
	float: right;
	margin-right: 32px;
}

#viewopts_share {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../images/wc-icons_lightgray_sprite_9.0.png") no-repeat;
	background-position: 0px -129px;
	position: relative;
	top: -8px;
}

#downloadopts {
	display: inline-block;
	text-align: center;
/*	width: 120px;*/
	padding: 0 14px;
	margin-left: 10px;
	height: 20px;
	border: 1px solid #bbb;
	background: url('../images/button_20px.png') repeat-x;
	color: #ccc;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	/* ipad */
	-webkit-border-radius: 6px;
}
#downloadopts:hover {
	color: #eee;
	background: url("../images/button_20px-hover-v2.png");
}
#downloadopts #dlicon {
	padding-left: 2px;
}
#downloadopts #dltxt {
	padding-left: 8px;
	padding-right: 4px;
	position: relative;
	top: -6px;
	font-weight: bold;
	font-size: 8pt;
}
#downloadopts #dlarrow {
	position: relative;
	top: -6px;
}

#dldropdown {
	display: none;
	z-index: 100;
	position: absolute;
	right: 32px;
	top: 90px;
	width: 120px;
	border: 2px solid #555;
	background-color: #2b2b2b;
}
#dldropdown ul {
	margin: 0;
	padding: 0;
}
#dldropdown li {
	list-style-type: none;
	text-align: left;
	font-size: 10pt;
}
#dldropdown a {
	padding: 7px 0 7px 20px;
	display: block;
	color: #ccc;
}
#dldropdown a:hover {
	background-color: #f90;
	color: #fff;
}

#photosleft {
	padding-top: 16px;
}

#photos {
	position: absolute;
	left: 32px;
	right: 0;
	top: 132px;
	bottom: 0;
}
#photocontainer {
	width: 100%;
}

#photosleft {
	margin-right: 320px;
	padding-top: 0;
	margin-left: 0;
}

#thumbnails.th_view_mosaic, #thumbnails.th_view_map {
	position: absolute;
	top: -15px;
	right: 0;
	overflow: auto;
	bottom: 0px;
}
#thumbnails.th_view_mosaic {
	width: 305px;
}
#thumbnails.th_view_grid, #thumbnails.th_view_journal {
	top: 0;
}

#mainphoto {
	max-width: 100%;
	max-height: 480px;
	box-shadow: 4px 4px 16px #1b1b1b;
	-webkit-box-shadow: 4px 4px 16px #1b1b1b;
	-moz-box-shadow: 4px 4px 16px #1b1b1b;
	/*filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true);*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50) progid:DXImageTransform.Microsoft.Blur(pixelRadius=3) progid:DXImageTransform.Microsoft.dropShadow(color=gray,offX=5,offY=5, positive=true)";*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
	/* http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/ */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#1b1b1b');  /* ie */
}

#video_icon {
	display: none;
	z-index: 49;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.filename {
	margin-top: 9px;
	font-size: 10pt;
	color: #555; /*#ccc;*/
}

#captiontxt {
	color: #aaa;
	display: none;
}

#thumbnails {
	padding-top: 15px;
	padding-bottom: 40px;
	padding-left: 3px;
	position: absolute;
	top: 95px;
	right: 0px;
	text-align: left;
}

.thumb_div {
	position: relative;
	float: left;
	width: 95px;
	height: 95px;
}

.thumb_div .thumb_check {
	z-index: 50;
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.thumb_div .video_icon {
	left: -2px;
}

.thumb_div .thumb {
	border: 0px solid #f90;
	margin: 0px 4px 7px 0px;
	width: 83px;
	height: 83px;
	box-shadow: 3px 3px 10px #1b1b1b;
	-webkit-box-shadow: 3px 3px 10px #1b1b1b;
	-moz-box-shadow: 3px 3px 10px #1b1b1b;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#1b1b1b');  /* ie */
}
.thumb_div .thumb:hover {
  cursor: pointer;
}

.thumb_div .thumb_selected {
	border-width: 3px;
	margin: -3px 1px 4px -3px;
}

#footer {
	z-index: 51;
	padding: 8px 0;
	font-size: 8pt;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 32px;
	right: 32px;
	min-width: 836px;
	background: #000;
	color: #999;
	opacity: 0.80;
	filter:alpha(opacity=80); /* ie */
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	/* ipad */
	-webkit-border-radius: 8px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
#footer a {
	color: #f90;
}
#footer #learnmore {
	color: #f90;
}
#footer #learnmorearrow {
	position: relative;
	left: 1.5px;
	top: 1px;
}
