AuthName "Eye-Fi Server Admin Restricted Access"
AuthType Basic
AuthUserFile /mnt/HDA_ROOT/.config/shadow
AuthGroupFile /dev/null
#require valid-user
#<limit GET POST>
require user admin
#</Limit>
DirectoryIndex index.html
Options +ExecCGI
